.main {
  width: 100vw;
  height: 100vh;

}

.header {
  width: 100%;
  height: 7%;
  text-align: center;
  font-size: 50px;
  line-height: 95px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
}

.searchbar {
  background-color: cadetblue;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.searchinput {
  width: 500px;
  height: 30px;
  margin-right: 25px;
}

.searchbutton {
  width: 200px;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.content {
  background-color: coral;
  width: 100%;
  height: 87%;
  display: flex;
}

.booklist {
  background-color: cornsilk;
  flex: 2;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bookinfo {
  text-align: center;
}

.thumbnail {
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.thumbpic {
  width: 150px;
  height: 200px;
}

.shelf {
  background-color: darkkhaki;
  flex: 1;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clearshelf {
  width: 200px;
  font-size: 25px;
  margin-top: 30px;
}





h2 {
  font-size: 50px;
  margin-top: 50px;
}
